In [4]:
for i in range(-6, -10, -1):
    print(i)

-6
-7
-8
-9

In [5]:
x = [1, 2]
y = [2, 3]

for i in x:
    for j in y:
        print(i, j, end= " ")

1 2 1 3 2 2 2 3

In [6]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0

In [7]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end=" ")
    print("c")

a  a  c

In [6]:
players=['Jadeja','Rahul','Rohit']

players = players + ["Dhoni", "Virat"]
players

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [4]:
players=['Jadeja','Rahul','Rohit']
players[-1:] = ["Dhoni", "Virat"]
players

['Jadeja', 'Rahul', 'Dhoni', 'Virat']

In [7]:
a=["data", "python", "scaler", "ML", "foo", "Jupyter", "lists"]
print(a[-6:-3])

['python', 'scaler', 'ML']

In [8]:
print(a[5::-3])

['Jupyter', 'scaler']

In [9]:
print(a[-7])

data

In [10]:
a[:] == a

True

In [1]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [2]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [3]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [4]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}

In [1]:
myfamily["child1"]["year"] =2005

NameError: name 'myfamily' is not defined

In [6]:
str1 = "PYcharm3"
print(str1[1:4], str1[:5], str1[-6:], str1[0:-1], str1[:-1])

Ych PYcha charm3 PYcharm PYcharm

In [20]:
def countuniquewords(inp):
    ans = 0
    arr = list(inp.split())
    for word in arr:
        arr2=[]
#         approach -> 1
#         if(len(set(word)) == len(word) and len(word) > 3):
#             print(word, set(word))
#             ans +=1
#         approach -> 2
#         for i in range(0,len(word)):
#             if word[i] not in arr2:
#                 arr2.append(word[i])
#                 print(arr2, word, word[i])
#             if len(arr2) == len(word) and len(word)>3:
#                 ans += 1
#         approach -> 3
        if len(tuple(word)) == len(word) and len(word) > 3:
            print(tuple(word))
            ans += 1
    return ans

countuniquewords("My name is code with akky")

('n', 'a', 'm', 'e')
('c', 'o', 'd', 'e')
('w', 'i', 't', 'h')
('a', 'k', 'k', 'y')

4

In [2]:
lis = [(0, 2), (1, 3), (2, 4)]
result = sum (n for _, n in lis)
print(result)

9

### String REVERSING

In [9]:
s = "AKASH"
# re = s[::-1]
# re = s[-1:0:-1]
# re
string = ""
for i in s:
    string = i + string
    print(i, string)
string

A A
K KA
A AKA
S SAKA
H HSAKA

'HSAKA'

### Remove Repeating Chars

In [11]:
s = 'AKASH'
a = set(s)
"".join(a)

'HKSA'

In [14]:
sampleDict = { "class":{ "student":{ "name":"Mike", "marks":{ "physics":70, "history":80 } } } }
sampleDict["class"]["student"]["marks"]["history"]

80

### Reversing the Key-Value Pair of the dictionary

In [39]:
dic = {
    "a": 1,
    "b": "",
    "c": ""
}

sam_dic = {}
for k, v in dic.items():
    print(k,v)
    sam_dic.update({v:k})
# for i in list(dic.keys()):
#     for j in list(dic.values()):
#         sam_dic.update({j: i})
sam_dic

a 1
b
c

{1: 'a', '': 'c'}

## Checking Entry in club

In [43]:
lis = ['M2004Sam', 'F2001Riya', 'M1998Ani', 'F2005Diya']
re_lis = []
for i in lis:
    i = i[1:5]
    eligible = 2022 - int(i)
    if(eligible > 18):
        re_lis.append("You are eligible")
    else:
        re_lis.append("You are not eligible")
re_lis

['You are not eligible',
 'You are eligible',
 'You are eligible',
 'You are not eligible']

In [46]:
k = [i for i in "my_string" if i not in "aeiou"] 
print(k)

['m', 'y', '_', 's', 't', 'r', 'n', 'g']

# Man of the Match

In [57]:
names = ['Arun', 'Nihal', 'Sanjay'] 
runs = [25, 50, 10] 
wickets = [3, 5, 4] 
bowls = [7, 12, 3]

data = {}
manOfMatch = ""
sr = 0
    # Your code starts here
    # print(names, runs, wickets, bowls)
for i in range(0, len(names)):
    if((runs[i] / bowls[i]) > 4 and wickets[i] > 2):
        manOfMatch = names[i]
    elif((runs[i] / bowls[i]) > 2 and (runs[i] / bowls[i]) < 4 and wickets[i] > 4):
        manOfMatch = names[i]
    
    data.update({names[i]: list((runs[i], wickets[i], bowls[i]))})
#     strike_rate.update({srate: runs[i]/bowls[i]})
print(manOfMatch)
data

Nihal
0

{'Arun': [25, 3, 7], 'Nihal': [50, 5, 12], 'Sanjay': [10, 4, 3]}

# Check Equal

In [71]:
str1 = "abcde"
str2 = "bcdea"

for i in str2:
    str2 = str2[1:]
    str2 = str2 + i
    if(str1 == str2):
        break

str2

'abcde'

In [1]:
s = {1, 2, 3, 4}
s[0]

TypeError: 'set' object is not subscriptable

In [2]:
a = [(x * 2) -1 for x in range(6) if(x % 2) == 1]

In [1]:
for i in range(10):
    print(i, end = " ")
    for j in range(i,0,-1):
        if(j>i):
            for k in range(n):
                print(k)
                print(i,j,k)

0 1 2 3 4 5 6 7 8 9

# Recursion

In [3]:
def add(n):
    if n == 1:
        return 1
    
    return add(n-1) + n

add(100)

5050

In [4]:
def fact(n):
    if n == 0:
        return 1
    
    return fact(n-1) * n

fact(5)

120

In [12]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    return fib(n-1) + fib(n-2)

for i in range(0, 7):
    print(i, fib(i))
# print(fib(6))

0 0
1 1
2 1
3 2
4 3
5 5
6 8

In [20]:
def power(a, n):
    if(n == 0):
        return 1
    
    return a * power(a, n - 1)

power(2, 5)

32

# Finding substring using recursion

In [21]:
def countHi(s, count=0):
    ''' s-indicates the string,
         output:Return the count of occurrences of "hi" in s'''
    
    # YOUR CODE GOES HERE
    if(s == ""):
#         print(i)
        return count
    if(s.startswith("hi")):
        count += 1
    return countHi(s[1:], count)

countHi("hihiaydyhihdeeihishdudhhi")

5

# Reversing String Using Recursion

In [2]:
def bp(string, n):
  if n>0:
    print(string[n], end='')
    bp(string, n-1)
  elif n==0:
    print(string[0])

s = input()
bp(s, len(s)-1)

news
swen

In [6]:
1//2

0

# Finding a number binary with recursion

In [7]:
l = [ ]
def convert(b):
  if(b==0):
    return l
  digit=b%2
  l.append(digit)
  convert(b//2)

convert(6)
l.reverse()
for i in l:
  print(i,end="")

110

In [9]:
def fun(n):
  if (n > 50):
    return n - 5
  return fun(fun(n+11))
print(fun(45))

46

## Write a program to calculate the sum of the positive integers of the series n + (n-2) + (n-4)..... (until n-x â‰¥ 0)

In [3]:
def sum_series(n):
   '''n = Input in integer format
      output:return sum of the series'''
   # YOUR CODE GOES HERE
   if(n <= 0):
      return 0
   
   return n + sum_series(n-2)

sum_series(-8)

0

## Write a recursive program to calculate the harmonic sum of the first n numbers.

In [30]:
def harmonic_sum(n):
    '''n = Input in integer format
       output:return harmonic sum'''
    # YOUR CODE GOES HERE
    if(n<2):
        return 1
    return round(1/n + harmonic_sum(n-1), 3)

harmonic_sum(10)
# print(round(harm, 3))

2.929

In [1]:
round(2.9290000000000003, 3)

2.929

# Combinatorics

In [13]:
import math
def valueOf(perm,com):
    #perm -> Permutation of arrangement of r objects from a set of n objects
    #com -> Selection of r objects from a set of n objects

    # return the value of r
    # code starts here
    fact_r = perm // com
    print(fact_r)
    if(fact_r == 0):
        return -1
    else:
        i = 1
        while(True):
            if(fact_r % i == 0):
                fact_r = fact_r // i
            else: 
                break
            
            i += 1
        
        if(fact_r == 1):
            return i - 1
        else:
            return -1
        
valueOf(900,165)

5

-1

In [14]:
import math
math.comb(10, 2)

45

## Sentinel Search

In [1]:
def sentinelSearch(ar,target,n):
  last = ar[n-1]
  ar[n-1] = target
  i = 0
  while ar[i]!=target:
    i+=1
  ar[n-1] = last
  if (i<n-1) or target==ar[n-1]:
    return i
  else:
    return -1

sentinelSearch([1,2,3,4,5],5,5)

4

# Recursive Binary Search

In [23]:
def recur_search(key, values, lower, upper):
    if(lower<=upper):
        mid = (lower + upper) // 2
        
        if(key == values[mid]):
            return True
        elif(key < values[mid]):
            return recur_search(key, values, lower, mid-1)
        else:
            return recur_search(key, values, mid+1, upper)
    
    return False

recur_search(1, [1,2,3,4,5], 0, 4)

True

#### What will be the value of the list element at the mid index which is given by (left + (right - left)//2), during the third level of recursion, if the recursive Binary Search is applied on the list = [35, 66, 73, 80, 90, 102, 258], and the element to be searched is 90?

In [ ]:
def recur_search(key, values, lower, upper):
    if(lower<=upper):
        mid = (lower + (upper - lower)) // 2
        if(key == values[mid]):
            return True
        elif(key < values[mid]):
            return recur_search(key, values, lower, mid-1)
        else:
            return recur_search(key, values, mid+1, upper)
    
    return False

recur_search(90, [35, 66, 73, 80, 90, 102, 258], 0, 6)

# Search & Insert - iterative

In [19]:
def searchInsert(A, B):
    #YOUR CODE GOES HERE
    start = 0;
    end = len(A) - 1
    found = True
    while(start <= end):
        mid = (start + end) // 2

        if(B == A[mid]):
            found = True
            return mid
        elif(B < A[mid]):
            end = mid - 1
        else: 
            start = mid + 1
    
    
    return start

A = [1, 3, 4, 5]
B = 2
searchInsert(A, B)

1

## Bubble Sort - Implementation

In [47]:
def bubbleSort(arr, k):
    if(len(arr) < k):
        return 0
#     for i in range(k-1): # for passes
#         for j in range(k-1-i):
#             if(arr[j] > arr[j+1]):
#                 arr[j], arr[j+1] = arr[j+1], arr[j]

# ----------->>>>>>>>>>>>>>>SECOND APPROACH<<<<<<<<<<<<<<<<<<-----------------

    for j in range(len(arr)-1,-1,-1):
      for k in range(0,j):
        if(arr[k]<arr[k+1]):
          temp=arr[k]
          arr[k]=arr[k+1]
          arr[k+1]=temp
    return arr

In [48]:
arr = [64,34,25,12,22,11,90]
# k = len(arr)
# arr = arr[:4]
k = len(arr)
bubbleSort(arr, k)

[90, 64, 34, 25, 22, 12, 11]

## FINDING TIME COMPLEXITY

In [49]:
for i in range(1,5):
  for j in range(i):
    print("x",end=" ")
  print()

# TIME COMPLEXITY WILL BE - O(n^2)

x
x x
x x x
x x x x

In [54]:
for i in range(5):
      j=i
      print(j)
      while j<i: # -> This loop will never be executed
        print(j)
        j=j+1
    
# TIME COMPLEXITY WILL BE - O(n)

0
1
2
3
4

# Bubble Sort With Recursion

In [2]:
def bubbleSortRecur(arr, k):
    for j in range(k-1):
        if(arr[j] > arr[j+1]):
            arr[j], arr[j+1] = arr[j+1], arr[j]

    if(k - 1 > 1):
        bubbleSortRecur(arr, k - 1)
    
    return arr

bubbleSortRecur([54,45,82,12,11,69,50], 7)

[11, 12, 45, 50, 54, 69, 82]

# Selection Sort - Iterative

In [13]:
def selectionSort(arr, k):
    for i in range(k-1):
        min_idx = i
        for j in range(i+1, k):
            if(arr[j] < arr[min_idx]):
                min_idx = j
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
    return arr
selectionSort(["Code","Apple","Dog","Almighty"], 4)

['Almighty', 'Apple', 'Code', 'Dog']

# Selection Sort - Recursive

In [5]:
def selectionSort(arr, k, min_idx = 0):
#     for i in range(k-1):
#         min_idx = i
    for j in range(min_idx+1, k):
        if(arr[j] < arr[min_idx]):
            arr[j], arr[min_idx] = arr[min_idx], arr[j]
    
    if(min_idx < k):
        selectionSort(arr, k, min_idx + 1)
    return arr
selectionSort([54,45,82,12,11,69,50], 7)

[11, 12, 45, 50, 54, 69, 82]

# Insertion Sort

In [15]:
def insertionSort(arr):
    for i in range(1, len(arr)):
        j=i-1
        key = arr[i]
        while j >= 0 and key < arr[j]:
            arr[j+1] = arr[j]
            j-=1
        
        arr[j+1] = key
    
    return arr

insertionSort([54, 45, 82, 11, 69, 50])

[11, 45, 50, 54, 69, 82]

In [25]:
def insertionSortExample(arr):
  value=0
  for i in range(1,len(arr)):
    value=arr[i-1]
    j=i-1
    while((j >= 0) or (arr[j - 1] > value)): #Fill the blank
        arr[j]=arr[j-1]
        j=j-1
    arr[j]=value
  return arr 

insertionSortExample([54, 45, 82, 11, 69, 50])

IndexError: list index out of range

# Merging 2 Arrays Ascending --- Conquer Approach

In [17]:
def mergeSorted(a, b, result):
    i, j, k = 0, 0, 0
    while i < len(a) and j < len(b):
        if(a[i] < b[j]):
            result[k]=a[i]
            i+=1
        else:
            result[k]=b[j]
            j+=1
        
        k+=1
        
#     Check for left over elements

    while(i < len(a)):
        result[k] = a[i]
        k+=1
        i+=1
    while(j < len(b)):
        result[k] = b[j]
        k+=1
        j+=1
       
   
    return result

# a=[1, 3, 5, 7]
# b=[2, 4, 6, 8]

# result = [1, 3, 4, 5, 2, 4, 6, 8]

# mergeSorted(a, b, result)

# Merge Sort - Divide the Array

In [21]:
def mergeSortDivide(arr):
    if(len(arr) < 2): 
        return
    mid = len(arr) // 2
    print("mid", mid)
    left = arr[:mid]
    right = arr[mid:]
    print("left", left)
    print("right", right)
    mergeSortDivide(left)
    mergeSortDivide(right)
    
    mergeSorted(left, right, arr)
    
    return arr

mergeSortDivide([1, 3, 5, 7, 2, 4, 6, 8])

mid 4
left [1, 3, 5, 7]
right [2, 4, 6, 8]
mid 2
left [1, 3]
right [5, 7]
mid 1
left [1]
right [3]
mid 1
left [5]
right [7]
mid 2
left [2, 4]
right [6, 8]
mid 1
left [2]
right [4]
mid 1
left [6]
right [8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
class Account():
    acc_no = 1000
    def __init__(self, balance):
        self.balance = balance
        Account.acc_no += 1
    def __repr__(self):
        return f"Account: {self.acc_no} is has balance {self.balance}"
    

ppl = Account(1000)
print(ppl)

Account: 1001 is has balance 1000

In [10]:
ppl2 = Account(2000)
print(ppl2)

Account: 1004 is has balance 2000

In [11]:
class People():
    def __init__(self, name):
        self.name = name

    def get_name(self):
        print(self.name)

person1 = People("John")
person2 = People("Mary")
person1.get_name()

John

In [12]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [13]:
obj.__dict__

{'price': 50, 'quantity': 10, 'bags': 2}

In [14]:
class Player:
  # class variables
  club = 'United'
  sport = 'Football'

  def __init__(self, name):
    # Instance variable
    self.name = name

  def show(self):
    print('Name:', self.name, 'Club:', self.club, 'Sports:', self.sport, end=" ")

p1 = Player('Sanjay')
p1.club = 'Real Madrid'
p1.show()

p2 = Player('Ravi')
p2.sport = 'Tennis'
p2.show()

Name: Sanjay Club: Real Madrid Sports: Football Name: Ravi Club: United Sports: Tennis

In [25]:
class Student():
    
    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1 = marks1
        self.marks2 = marks2
        self.credits1 = credits1
        self.credits2 = credits2
    
    def grade_point_average(self):
        gpa=0
#         print(self.marks1,self.marks2,self.credits1,self.credits2
        #YOUR CODE GOES HERE
        def subjectpoints(mark):
            if(mark < 45):
                    return 0
            elif(mark>=45 and mark < 60):
                    return 7
            elif(mark>=60 and mark < 75):
                    return 8
            elif(mark>=75 and mark < 90):
                    return 9
            elif(mark>=90):
                    return 10
        try:
            gpa = (((subjectpoints(self.marks1) * self.credits1) + (subjectpoints(self.marks2) * self.credits2)) / (self.credits1 + self.credits2))
            gpa = round(gpa, 2)
            return gpa
        except: return "Zero credits for both subjects"
        
s1 = Student(35, 92, 4, 5)
s1.grade_point_average()

0

5.56

In [37]:
class Bill():

    def __init__(self, prev_read, cur_read):
        #YOUR CODE GOESS HERE
        self.prev_read = prev_read
        self.cur_read = cur_read
        
        
    def total_bill(self):
        total=0.0
        units_consumed = self.cur_read - self.prev_read
        #YOUR CODE GOESS HERE
        first_100, second_100, rest = 0,0,0
        if(units_consumed > 100):
            print(units_consumed)
            units_consumed -= 100
            print(units_consumed)
            first_100 = 100 * 3.5
            if(units_consumed > 100):
                units_consumed -= 100
                print(units_consumed)
                second_100 = 100 * 5
                if(units_consumed > 0):
                    rest = units_consumed * 8
                    total = first_100 + second_100 + rest + 150
                    return float(total)
            else:
                second_100 = units_consumed * 5
                total = first_100 + second_100 + 150
                return float(total)   
        else:
            first_100 = units_consumed * 3.5
            total = first_100 + 150
            return float(total)

b1 = Bill(350, 675)
b1.total_bill()

325
225
125

2000.0

In [1]:
class solution:
      def initial(self,sets):
        return self.final(sets)
 
      def final(self, sets):
        return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [6]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks=marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1= Student(34,'A')
# student1.age=17
print(student1.display())

Roll: 34 Marks: A None

In [9]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2

    def circumference(self):
        return 2 * Circle.pi * self.radius

pizza = Circle(6)
print(pizza.circumference())

18.84

In [10]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [14]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student("Emma", 10)
Student.subject_name = "Machine Learning"
# s1.subject_name = "Machine Learning"

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [28]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)
        
    def type(self):
        #YOUR CODE GOES HERE
        return 'Supervised Learning Algorithm'

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        super().__init__(name, category)
    
    def type(self):
        #YOUR CODE GOES HERE
        return 'Unsupervised Learning Algorithm'

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.print()
    print(obj1.type())
    obj2=Unsupervised(c,d)
    obj2.print()
    print(obj2.type())

#     return None

mlAnalogy("Logistic Regression", "Classification Algo", "k-Means", "Clustering Algo")

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

In [38]:

    
class Smaller:
    def __init__(self,a):
        self.a=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        # YOUR CODE GOES HERE
        for s in self.a.lower():
            if s in ('a', 'e', 'i', 'o', 'u'):
                ans += 1
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.a=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        
        # YOUR CODE GOES HERE
        for s in self.a.lower():
            if s not in ('a', 'e', 'i', 'o', 'u'):
                ans += 1
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

main("Akash")

The type of Name is smaller
2

### You teach a class of students. You plan to make a pair where you want to pair 2 of your students who live closest to each other. The map along with the coordinates of each student's house is available to you. Can you find the students whom you can pair? You are given 2 lists containing the students name and locations. Manhattan Distance will be used to calculate the distance between 2 points.

Manhattan Distance between 2 points (x1,y1) and (x2,y2) is given by |x1-x2| + |y1-y2|.

In [3]:
def nearestStudents(names,loc):
    '''
    input:
    names -> names of students
    loc -> coordinates of each students
    output:
    return the nearest students name 
    '''
    
    # Your code starts here
    shortest_distance = float('inf')
    students1 = ""
    students2 = ""
    for i in range(len(loc)):
        for j in range(i + 1, len(loc)):
            dist = abs(loc[i][0] - loc[j][0]) + abs(loc[i][1] + loc[j][1])
            if dist < shortest_distance:
                shortest_distance = dist
                students1 = i
                students2 = j
            

    # code ends here
    return [names[students1], names[students2]]


names = ["Adam","Millie","Jacob","Michael","Maxine"]
loc = [(1,2),(5,4),(0,3),(2,3),(0,0)]
nearestStudents(names, loc)

['Adam', 'Maxine']

In [4]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

In [13]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

print(odd(5))
for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

True
0 2 4 6 8

In [16]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    result= []
    # YOUR CODE GOES HERE
    s = string.split(" ")
    for i in s:
        if(len(i) == length):
            result.append(i)
    return result

s = "The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over"
LengthSequence(s, 5)

['world', 'start']

### Problem Description

- Given a list of strings of varying lengths, complete the python function to sort the list of strings based on their lengths and return the sorted list.

- Note: In case 2 strings have the same length, they are sorted in ascending order of their lexicographic index.

In [25]:
str_list = ["ccc", "b", "dd", "aaa"]

ss = sorted(str_list)
s = sorted(ss, key = lambda x: len(x))
s

['b', 'dd', 'aaa', 'ccc']

### Problem Description
> You are given a nested list of strings of varying lengths. For each list, sort the string on the basis of the number of times the character â€˜aâ€™ appears in the string such that the string having the most number of â€˜aâ€™ comes first in the lists. Complete the python function and return the sorted list.

> Note: If 2 strings has the same number of 'a', keep them in the same order as entered in the list.

In [36]:
def sort_strings(str_list):
    #str_list-> nested list of strings

    # return the sorted list of strings on the basis of number of times â€˜aâ€™ occurs

    # code starts here
    res = []
    for i in str_list:
        s = sorted(i, key = lambda x: x.count('a'), reverse=True)
        print(s)
        res.append(s)
    #code ends here

    return res

sort_string = [["maaango", "banana", "gauava"],
                ["rose", "sandalwood"],
                ["bccc", "aaa", "baac", "c"]]

sort_strings(sort_string)

['maaango', 'banana', 'gauava']
['sandalwood', 'rose']
['aaa', 'baac', 'bccc', 'c']

[['maaango', 'banana', 'gauava'],
 ['sandalwood', 'rose'],
 ['aaa', 'baac', 'bccc', 'c']]

### Problem Description
- Complete the Python function __second_lowest()__ to find the second-lowest grade of students from the given names and grades of each student using lists and lambda function. For the input, the number of **students**, __names__, and the grades of each student were given.

In [59]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''
    
    student_data, second_low_score, second_names = [], None, None
    
    # Your code starts here
    for i in range(len(students)):
        s = []
        s.append(students[i])
        s.append(scores[i])
        student_data.append(s)
    
    second_low_score = sorted(set(scores))[1]
    second_names = list(filter(lambda x: x[1] == second_low_score, student_data))
    print(second_names)
    # Your code ends here
    return student_data, second_low_score, second_names

students = ["S ROY ", "B BOSE", "N KAR", "C DUTTA", "G GHOSH"]
scores = [1, 3, 2, 2, 2]
second_lowest(students, scores)

[['N KAR', 2], ['C DUTTA', 2], ['G GHOSH', 2]]

([['S ROY ', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 2], ['G GHOSH', 2]],
 2,
 [['N KAR', 2], ['C DUTTA', 2], ['G GHOSH', 2]])