In [66]:
from scipy.stats import levene, kruskal, chi2_contingency
import pandas as pd

In [2]:
data = pd.read_csv("loan.csv")

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
m_group = data.loc[data["Married"] == "Yes"]["LoanAmount"]
un_group = data.loc[data["Married"] == "No"]["LoanAmount"]

m_group = m_group.dropna()

In [15]:
un_group = un_group.dropna()

In [12]:
m_group.var()

8088.172323759791

In [13]:
un_group.var()

5533.274165285346

In [16]:
m_group.isna().sum()

0

In [17]:
levene(m_group, un_group)

LeveneResult(statistic=2.269725397367441, pvalue=0.13246029692447894)

In [52]:
data["Credit_History"].value_counts()
# data["Loan_Status"].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [56]:
rejected = data.loc[data["Loan_Status"] == "N"]

rejected["ApplicantIncome"].isna().sum()

0

In [42]:
credit_1 = rejected.loc[rejected["Credit_History"] == 1.0]["ApplicantIncome"]
credit_0 = rejected.loc[rejected["Credit_History"] == 0.0]["ApplicantIncome"]

In [49]:
len(credit_1)

97

In [50]:
credit_0.shape

(82,)

In [57]:
levene(credit_0, credit_1)

LeveneResult(statistic=0.0044126352894519865, pvalue=0.9471123138285182)

In [60]:
kruskal(credit_0, credit_1)

KruskalResult(statistic=2.049603392395956, pvalue=0.15224584555807225)

In [63]:
result = data.loc[data["Credit_History"] == 1.0]

In [64]:
result

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y

In [69]:
val = pd.crosstab(result["Gender"], result["Loan_Status"])
val

Loan_Status   N    Y
Gender
Female       20   64
Male         75  307

In [73]:
chi2_contingency([[20, 64], [75, 307]])

(0.5049414171321102,
 0.4773369158711067,
 1,
 array([[ 17.12446352,  66.87553648],
        [ 77.87553648, 304.12446352]]))

In [74]:
chi2_contingency([[272, 66], [53, 19]])

(1.3089034809797075,
 0.25259328208262877,
 1,
 array([[267.92682927,  70.07317073],
        [ 57.07317073,  14.92682927]]))