## Content:
- Joins
- Types of Joins

## Joins

### Question: What are joins and where are they useful?

Remember we studied the concepts of **joins in SQL.**

When our data is distributed across **multiple databases**, and we need to perform some analysis on the same, the concept of joins comes into picture.

#### Let's understand this with an example

Suppose for two datasets `product_category` and `product`:

`product_category` has columns:
- product_category_id
- product_category_name

`product` has columns:
- product_id
- product_name
- product_category_id
- product_size
- product_qty_type

![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/774/original/image_2022-09-15_092132018.png?1663213915)

As we can see, our product data is distributed across multiple databases.

#### Now how can we answer questions related to products as a whole?

Say,
#### Get details of all vendors selling fresh fruit or vegetables with product names and the quantity of that product in their inventory?

We will have to **combine this data** to answer such kind of questions.

We will need **a common key** to combine this data.

#### Which column can we use for combining the databases?

- If you notice, `product_category_id` is same in both the tables

- Hence we can perform our join on this column to perform our analysis

## Types of joins


### What are the various types of joins we can use?

![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/775/original/image_2022-09-15_100351116.png?1663216432)

There are many joins:
- Inner Join
- Outer Join
- Left Join
- Right join
- Self join
- Cross join

### LEFT JOIN

This joins the data by taking all the records from the "left side" of the join, and only the matching records (based on the join criteria) from the "right side"


![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/787/original/image_2022-09-15_113139104.png?1663221700)

Let's take our earlier example of the product dataset and implement left join in SQL.
```sql
SELECT * FROM 
product
LEFT JOIN product_category
      	ON product.product_category_id = product_category.product_category_id
```

### RIGHT JOIN

Just contrary to left join, this joins the data by taking all the records from the "right side" of the join, and only the matching records (based on the join criteria) from the "left side"


![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/788/original/image_2022-09-15_113455323.png?1663221896)

Let's take our earlier example of the product dataset and implement right join in SQL.
```sql
SELECT * FROM 
product
RIGHT JOIN product_category
      	ON product.product_category_id = product_category.product_category_id
```

### INNER JOIN

An Inner Join takes records which are common in both the tables, based on the join criteria specified

![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/789/original/image_2022-09-15_113719888.png?1663222041)

Let's implement INNER JOIN now on our earlier example of the product dataset 
```sql
SELECT * FROM 
product
INNER JOIN product_category
      	ON product.product_category_id = product_category.product_category_id
```

### OUTER JOIN (Also called FULL JOIN)

An Outer Join returns all records/rows when there's a match in either the left table, or the right table

![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/793/original/image_2022-09-15_114417031.png?1663222458)

Let's implement OUTER JOIN now on our earlier example of the product dataset.

We don't have a "OUTER JOIN" keyword in SQL, so we have to use LEFT and RIGHT JOIN along with UNION for an OUTER JOIN

```sql
SELECT * FROM 
product
LEFT JOIN product_category
      	ON product.product_category_id = product_category.product_category_id
UNION
SELECT * FROM 
product
RIGHT JOIN product_category
      	ON product.product_category_id = product_category.product_category_id
```

We can look at the below example to get clarity on how these 4 joins work

![](https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/014/794/original/image_2022-09-15_114641105.png?1663222602)