In [58]:
import pandas as pd
import numpy as np

In [59]:
data = pd.read_csv("Pfizer.csv")

data.head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18 non-null     object
 1   Drug_Name  18 non-null     object
 2   Parameter  18 non-null     object
 3   1:30:00    16 non-null     float64
 4   2:30:00    16 non-null     float64
 5   3:30:00    12 non-null     float64
 6   4:30:00    14 non-null     float64
 7   5:30:00    16 non-null     float64
 8   6:30:00    18 non-null     int64
 9   7:30:00    16 non-null     float64
 10  8:30:00    14 non-null     float64
 11  9:30:00    16 non-null     float64
 12  10:30:00   18 non-null     int64
 13  11:30:00   16 non-null     float64
 14  12:30:00   18 non-null     int64
dtypes: float64(9), int64(3), object(3)
memory usage: 2.2+ KB

In [61]:
data.tail()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [130]:
data[data.isnull().any(axis = 1)]

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14

In [134]:
def is_null(x):
    return sum(x.isnull())

data.apply(is_null)
# data.isnull().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

## Melting in Pandas

As we saw earlier, the dataset has 18 rows and 15 columns

If you notice further, you'll see:

- The **columns are `1:30:00`, `2:30:00`, `3:30:00`, ... so on**

- `Temperature` and `Pressure` **of each date** is **in a separate row**

#### Can we restructure our data into a better format?

<!-- Maybe do something more intuitive -->

Maybe we can have a column for `time`, with `timestamps` as the column value

**Where will the Temperature/Pressure values go?**

We can similarly create one column containing the values of these parameters




==> **"Melt" timestamp columns into two columns** - timestamp and corresponding values
<!-- Something like our DataFrame will have columns [`ID`, `Date`, `Parameter`, `time`, `result`] -->




#### How can we restructure our data into having every row corresponding to a single reading?

In [62]:
pd.melt(data, id_vars = ["Date", "Drug_Name", "Parameter"])

           Date                Drug_Name    Parameter  variable  value
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00   23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00   12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00    NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00    NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00   24.0
..          ...                      ...          ...       ...    ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00   14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00   23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00   28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00   24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00   15.0

[216 rows x 5 columns]

In [63]:
data_melt = pd.melt(data, id_vars = ["Date", "Drug_Name", "Parameter"], var_name = "Time", value_name = "Reading")
data_melt

           Date                Drug_Name    Parameter      Time  Reading
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00     23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00     12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00      NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00      NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00     24.0
..          ...                      ...          ...       ...      ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00     14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00     23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00     28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00     24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00     15.0

[216 rows x 5 columns]

**Conclusion**

<!-- - Columns from `1:30:00` to `12:30:00` are conviniently **melted to a single column `time`** -->
- The labels of the timestamp columns are conviniently **melted into a single column** - `time`
- It retained all values in column `reading`

--------------

- The labels of columns such as `1:30:00`, `2:30:00` have now become categories of the variable column
- The **values from columns we are melting** are stored in **value** column

## Pivot

Now suppose we want to convert our data back to **wide format**

The reason could be to maintain the structure for storing or some other purpose.

Notice:

- The variables `Date`, `Drug_Name` and `Parameter` will remain same

- The column names will be extracted from the column `time`

- The values will be extracted from the column `readings`

#### How can we restructure our data back to the original wide format, before it was melted?

In [64]:
data_melt.pivot(index = ['Date', 'Drug_Name', 'Parameter'], columns = 'Time', values= 'Reading')

Time                                            10:30:00  11:30:00  12:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure         18.0      19.0      20.0
                                   Temperature      20.0      20.0      21.0
           docetaxel injection     Pressure         26.0      29.0      28.0
                                   Temperature      23.0      25.0      25.0
           ketamine hydrochloride  Pressure          9.0       9.0      11.0
                                   Temperature      22.0      21.0      20.0
16-10-2020 diltiazem hydrochloride Pressure         24.0       NaN      27.0
                                   Temperature      40.0       NaN      42.0
           docetaxel injection     Pressure         28.0      29.0      30.0
                                   Temperature      56.0      57.0      58.0
           ketamine hydrochloride  Pressure         16.0      17.0      18.0
                                   Temperature      13.0      14.0      15.0
17-10-2020 diltiazem hydrochloride Pressure         11.0      13.0      14.0
                                   Temperature      14.0      11.0      10.0
           docetaxel injection     Pressure         28.0      29.0      28.0
                                   Temperature      21.0      22.0      23.0
           ketamine hydrochloride  Pressure         13.0      14.0      15.0
                                   Temperature      22.0      23.0      24.0

Time                                            1:30:00  2:30:00  3:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        12.0     13.0      NaN
                                   Temperature     23.0     22.0      NaN
           docetaxel injection     Pressure         NaN     22.0     22.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         8.0      NaN      NaN
                                   Temperature     24.0      NaN      NaN
16-10-2020 diltiazem hydrochloride Pressure        18.0     19.0     20.0
                                   Temperature     34.0     35.0     36.0
           docetaxel injection     Pressure        23.0     24.0      NaN
                                   Temperature     46.0     47.0      NaN
           ketamine hydrochloride  Pressure        12.0     12.0     13.0
                                   Temperature      8.0      9.0     10.0
17-10-2020 diltiazem hydrochloride Pressure         3.0      4.0      4.0
                                   Temperature     20.0     19.0     19.0
           docetaxel injection     Pressure        20.0     22.0     22.0
                                   Temperature     12.0     13.0     14.0
           ketamine hydrochloride  Pressure         8.0      9.0     10.0
                                   Temperature     13.0     14.0     15.0

Time                                            4:30:00  5:30:00  6:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        11.0     13.0     14.0
                                   Temperature     21.0     21.0     22.0
           docetaxel injection     Pressure         NaN     22.0     23.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         7.0      NaN      9.0
                                   Temperature     27.0      NaN     26.0
16-10-2020 diltiazem hydrochloride Pressure        21.0     22.0     23.0
                                   Temperature     36.0     37.0     38.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     48.0     48.0     49.0
           ketamine hydrochloride  Pressure         NaN     15.0     15.0
                                   Temperature      NaN     11.0     12.0
17-10-2020 diltiazem hydrochloride Pressure         4.0      6.0      8.0
                                   Temperature     18.0     17.0     16.0
           docetaxel injection     Pressure        22.0     22.0     23.0
                                   Temperature     15.0     16.0     17.0
           ketamine hydrochloride  Pressure        11.0     11.0     12.0
                                   Temperature     16.0     17.0     18.0

Time                                            7:30:00  8:30:00  9:30:00
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        16.0     16.0     24.0
                                   Temperature     23.0     21.0     22.0
           docetaxel injection     Pressure         NaN      NaN     27.0
                                   Temperature      NaN      NaN     23.0
           ketamine hydrochloride  Pressure        10.0     11.0     10.0
                                   Temperature     25.0     24.0     23.0
16-10-2020 diltiazem hydrochloride Pressure        24.0     25.0     25.0
                                   Temperature     37.0     38.0     39.0
           docetaxel injection     Pressure        28.0     29.0     28.0
                                   Temperature     50.0     52.0     55.0
           ketamine hydrochloride  Pressure        15.0     15.0      NaN
                                   Temperature     12.0     11.0      NaN
17-10-2020 diltiazem hydrochloride Pressure         9.0      NaN      9.0
                                   Temperature     15.0      NaN     13.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     18.0     19.0     20.0
           ketamine hydrochloride  Pressure        12.0     11.0     12.0
                                   Temperature     19.0     20.0     21.0

In [65]:
data_melt.pivot(index = ['Date', 'Drug_Name', 'Parameter'], columns = 'Time', values= 'Reading').reset_index()

Time,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [66]:
data_tidy = data_melt.pivot(index = ["Date", "Drug_Name", "Time"], columns = "Parameter", values = "Reading")
data_tidy

Parameter                                    Pressure  Temperature
Date       Drug_Name               Time
15-10-2020 diltiazem hydrochloride 10:30:00      18.0         20.0
                                   11:30:00      19.0         20.0
                                   12:30:00      20.0         21.0
                                   1:30:00       12.0         23.0
                                   2:30:00       13.0         22.0
...                                               ...          ...
17-10-2020 ketamine hydrochloride  5:30:00       11.0         17.0
                                   6:30:00       12.0         18.0
                                   7:30:00       12.0         19.0
                                   8:30:00       11.0         20.0
                                   9:30:00       12.0         21.0

[108 rows x 2 columns]

In [67]:
data_tidy = data_tidy.reset_index()

In [68]:
data_tidy.head()

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0

## Pivot_Table

Now suppose we want to find some insights, like **mean temperature day wise**

#### Can we use pivot to find the day-wise mean value of temperature for each drug?

#### Why did we get an error?

- We need to find the **average** of temperature values throughout a day

- If you notice, the error shows **duplicate entries.**

Hence the index values should be unique entry for each row.

#### What can we do to get our required mean values then?

In [69]:
pd.pivot_table(data_tidy, index='Drug_Name', columns='Date', values=['Temperature'], aggfunc=np.mean)

Parameter               Temperature
Date                     15-10-2020 16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride   21.454545  37.454545  15.636364
docetaxel injection       20.750000  51.454545  17.500000
ketamine hydrochloride    23.555556  11.500000  18.500000

In [70]:
pd.pivot_table(data_tidy, index='Drug_Name', columns='Date', values=['Temperature', 'Pressure'], aggfunc=np.min)

Parameter                 Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride       11.0       18.0        3.0        20.0
docetaxel injection           22.0       23.0       20.0        17.0
ketamine hydrochloride         7.0       12.0        8.0        20.0

Parameter
Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride       34.0       10.0
docetaxel injection           46.0       12.0
ketamine hydrochloride         8.0       13.0

This function is similar to pivot, with an extra feature of an aggregator

#### How does `pivot_table` work?
- The initial parameters are same as how we do in `pivot()`
- As an extra parameter, we pass the **type of aggregator**

Note:

- We could have done this using `groupby` too

- In fact, `pivot_table` uses `groupby` in the backend to group the data and perform the aggregration

- The only difference is in the type of output we get using both functions

### Handling Missing Values

#### What are these "NaN" values?
They are basically **missing values**

#### What are missing values?
A Missing Value signifies an **empty cell/no data**

There can be 2 kinds of missing values:

  1. `None`
  2. `NaN` (short for Not a Number)

#### Whats the difference between the "None" and "NaN"?

The diff mainly lies in their datatype

In [71]:
type(None)

NoneType

In [72]:
type(np.nan)

float

Now we have the basic idea about missing values

#### How to know the count of missing values for each row/column?

In [73]:
data.isna().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [74]:
data.isnull().head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
3,False,False,False,True,False,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False

In [75]:
pd.isnull

In [76]:
pd.isna

In [77]:
data.isnull().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [78]:
data.isna().sum()

Date         0
Drug_Name    0
Parameter    0
1:30:00      2
2:30:00      2
3:30:00      6
4:30:00      4
5:30:00      2
6:30:00      0
7:30:00      2
8:30:00      4
9:30:00      2
10:30:00     0
11:30:00     2
12:30:00     0
dtype: int64

In [79]:
data.isna().sum(axis=1)

0     1
1     1
2     4
3     4
4     3
5     3
6     1
7     1
8     1
9     1
10    2
11    2
12    1
13    1
14    0
15    0
16    0
17    0
dtype: int64

In [80]:
data.dropna(axis = 1)

,Date,Drug_Name,Parameter,6:30:00,10:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,22,20,21
1,15-10-2020,diltiazem hydrochloride,Pressure,14,18,20
2,15-10-2020,docetaxel injection,Temperature,18,23,25
3,15-10-2020,docetaxel injection,Pressure,23,26,28
4,15-10-2020,ketamine hydrochloride,Temperature,26,22,20
5,15-10-2020,ketamine hydrochloride,Pressure,9,9,11
6,16-10-2020,diltiazem hydrochloride,Temperature,38,40,42
7,16-10-2020,diltiazem hydrochloride,Pressure,23,24,27
8,16-10-2020,docetaxel injection,Temperature,49,56,58
9,16-10-2020,docetaxel injection,Pressure,27,28,30
10,16-10-2020,ketamine hydrochloride,Temperature,12,13,15
11,16-10-2020,ketamine hydrochloride,Pressure,15,16,18
12,17-10-2020,diltiazem hydrochloride,Temperature,16,14,10
13,17-10-2020,diltiazem hydrochloride,Pressure,8,11,14
14,17-10-2020,docetaxel injection,Temperature,17,21,23
15,17-10-2020,docetaxel injection,Pressure,23,28,28
16,17-10-2020,ketamine hydrochloride,Temperature,18,22,24
17,17-10-2020,ketamine hydrochloride,Pressure,12,13,15

In [81]:
data.fillna(0).head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,0.0,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,0.0,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,0.0,17.0,18.0,0.0,17.0,18,0.0,0.0,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,0.0,22.0,22.0,0.0,22.0,23,0.0,0.0,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,0.0,0.0,27.0,0.0,26,25.0,24.0,23.0,22,21.0,20

#### How can we form a column with mean temperature of respective compounds?

We can use `apply` that we learnt earlier

Let's first create a function to calculate the mean

In [82]:
def mean_tempc(x):
    x["Temperature_AVG"] = x["Temperature"].mean()
    return x

data_tidy = data_tidy.groupby(["Drug_Name"]).apply(mean_tempc)

data_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677

In [83]:
data_tidy.isna().sum()

Parameter
Date                0
Drug_Name           0
Time                0
Pressure           13
Temperature        13
Temperature_AVG     0
dtype: int64

In [84]:
data_tidy["Temperature"].fillna(data_tidy["Temperature_AVG"], inplace = True)

data_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677

In [85]:
data_tidy.isna().sum()

Parameter
Date                0
Drug_Name           0
Time                0
Pressure           13
Temperature         0
Temperature_AVG     0
dtype: int64

In [86]:
def mean_press(x):
    x["Pressue_AVG"] = x["Pressure"].mean()
    return x

data_tidy = data_tidy.groupby(["Drug_Name"]).apply(mean_press)
data_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG,Pressue_AVG
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15.424242
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15.424242
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15.424242
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15.424242
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15.424242
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677,11.935484
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677,11.935484
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677,11.935484
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677,11.935484
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677,11.935484

In [87]:
data_tidy["Pressure"].fillna(data_tidy["Pressue_AVG"], inplace = True)
data_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG,Pressue_AVG
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15.424242
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15.424242
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15.424242
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15.424242
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15.424242
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677,11.935484
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677,11.935484
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677,11.935484
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677,11.935484
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677,11.935484

In [88]:
data_tidy.isna().sum()

Parameter
Date               0
Drug_Name          0
Time               0
Pressure           0
Temperature        0
Temperature_AVG    0
Pressue_AVG        0
dtype: int64

# Feature Engg. 
 

Sometimes, we would want our data to be in **categorical format instead of continous data**. 

#### What do we mean by converting continous into categorical data?

Lets say, instead of knowing specific test values of a month, I want to know its type

#### What could be the types?

Depends on level of granularity we want to have - Low, Medium, High, V High

We could have defined more (or less) categories

#### But how can bucketisation of continous data help?

- Since, we can get the count of different categories
- We can get a idea of the bin which category (range of values) most of the temperature values lie.

#### What function can we use to convert cont. to cat. data?

 - Will use pd.cut()
 - We need to provide:
  - the continous data
  - bins edges (array of numbers) to "cut" the entire range
  - labels corresponding to every bin


Let's try to us this on our max (temp) column to categorise the data into bins

But, to define categories, lets first check min and max temp values

In [89]:
data_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG,Pressue_AVG
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15.424242
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15.424242
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15.424242
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15.424242
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15.424242
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677,11.935484
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677,11.935484
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677,11.935484
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677,11.935484
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677,11.935484

In [90]:
print(data_tidy["Temperature"].min(), data_tidy["Temperature"].max())

8.0 58.0

Min value = 8, Max value is 58.

- Lets's keep some buffer for future values and take the range from 5-60(instead of 8-58)
- Lets divide this data into 4 bins of 10-15 values each

# Data Binning

In [93]:
temp_points = [5, 20, 35, 50, 60]
temp_labels = ["low", "medium", "high", "very_high"]

data_tidy["temp_cut"] = pd.cut(data_tidy["Temperature"], bins = temp_points, labels = temp_labels)

data_tidy.head()

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG,Pressue_AVG,temp_cut
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15.424242,low
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15.424242,low
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15.424242,medium
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15.424242,medium
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15.424242,medium

In [94]:
data_tidy["temp_cut"].value_counts()

low          50
medium       38
high         15
very_high     5
Name: temp_cut, dtype: int64

### String function and motivation for datetime

#### What kind of questions can we use string methods for?

Find rows which contains a particular string

Say,

#### How you can you filter rows containing "hydrochloric" in their drug name?

In [97]:
data_tidy.loc[data_tidy["Drug_Name"].str.contains('hydrochloride')].head()

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG,Pressue_AVG,temp_cut
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15.424242,low
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15.424242,low
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15.424242,medium
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15.424242,medium
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15.424242,medium

In [99]:
data_tidy["Date"].str.split('-')

0      [15, 10, 2020]
1      [15, 10, 2020]
2      [15, 10, 2020]
3      [15, 10, 2020]
4      [15, 10, 2020]
            ...
103    [17, 10, 2020]
104    [17, 10, 2020]
105    [17, 10, 2020]
106    [17, 10, 2020]
107    [17, 10, 2020]
Name: Date, Length: 108, dtype: object

In [100]:
data_tidy["Date"].str.split('-').apply(lambda x: x[2])

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: Date, Length: 108, dtype: object

In [102]:
data_tidy["Timestamp"] = data_tidy["Date"] + " " + data_tidy["Time"]
data_tidy

Parameter,Date,Drug_Name,Time,Pressure,Temperature,Temperature_AVG,Pressue_AVG,temp_cut,Timestamp
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,24.848485,15.424242,low,15-10-2020 10:30:00
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,24.848485,15.424242,low,15-10-2020 11:30:00
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,24.848485,15.424242,medium,15-10-2020 12:30:00
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,24.848485,15.424242,medium,15-10-2020 1:30:00
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,24.848485,15.424242,medium,15-10-2020 2:30:00
...,...,...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,17.709677,11.935484,low,17-10-2020 5:30:00
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,17.709677,11.935484,low,17-10-2020 6:30:00
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,17.709677,11.935484,low,17-10-2020 7:30:00
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,17.709677,11.935484,low,17-10-2020 8:30:00
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,17.709677,11.935484,medium,17-10-2020 9:30:00

In [103]:
data_tidy.drop(["Date", "Time"], axis = 1, inplace = True)

In [104]:
data_tidy

Parameter,Drug_Name,Pressure,Temperature,Temperature_AVG,Pressue_AVG,temp_cut,Timestamp
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,15-10-2020 10:30:00
1,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,15-10-2020 11:30:00
2,diltiazem hydrochloride,20.0,21.0,24.848485,15.424242,medium,15-10-2020 12:30:00
3,diltiazem hydrochloride,12.0,23.0,24.848485,15.424242,medium,15-10-2020 1:30:00
4,diltiazem hydrochloride,13.0,22.0,24.848485,15.424242,medium,15-10-2020 2:30:00
...,...,...,...,...,...,...,...
103,ketamine hydrochloride,11.0,17.0,17.709677,11.935484,low,17-10-2020 5:30:00
104,ketamine hydrochloride,12.0,18.0,17.709677,11.935484,low,17-10-2020 6:30:00
105,ketamine hydrochloride,12.0,19.0,17.709677,11.935484,low,17-10-2020 7:30:00
106,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low,17-10-2020 8:30:00
107,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium,17-10-2020 9:30:00

In [106]:
data_tidy["Timestamp"] = pd.to_datetime(data_tidy["Timestamp"])
data_tidy

Parameter,Drug_Name,Pressure,Temperature,Temperature_AVG,Pressue_AVG,temp_cut,Timestamp
0,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,2020-10-15 10:30:00
1,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,2020-10-15 11:30:00
2,diltiazem hydrochloride,20.0,21.0,24.848485,15.424242,medium,2020-10-15 12:30:00
3,diltiazem hydrochloride,12.0,23.0,24.848485,15.424242,medium,2020-10-15 01:30:00
4,diltiazem hydrochloride,13.0,22.0,24.848485,15.424242,medium,2020-10-15 02:30:00
...,...,...,...,...,...,...,...
103,ketamine hydrochloride,11.0,17.0,17.709677,11.935484,low,2020-10-17 05:30:00
104,ketamine hydrochloride,12.0,18.0,17.709677,11.935484,low,2020-10-17 06:30:00
105,ketamine hydrochloride,12.0,19.0,17.709677,11.935484,low,2020-10-17 07:30:00
106,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low,2020-10-17 08:30:00
107,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium,2020-10-17 09:30:00

In [107]:
data_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Drug_Name        108 non-null    object
 1   Pressure         108 non-null    float64
 2   Temperature      108 non-null    float64
 3   Temperature_AVG  108 non-null    float64
 4   Pressue_AVG      108 non-null    float64
 5   temp_cut         108 non-null    category
 6   Timestamp        108 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(4), object(1)
memory usage: 10.3+ KB

In [108]:
ts = data_tidy["Timestamp"][0]
ts

Timestamp('2020-10-15 10:30:00')

In [110]:
ts.year

2020

In [111]:
ts.month

10

In [112]:
ts.date

In [113]:
ts.day

15

In [115]:
ts.month_name()

'October'

In [116]:
ts.day_name()

'Thursday'

In [117]:
ts.dayofweek

3

In [118]:
ts.hour

10

In [119]:
ts.minute

30

In [120]:
data_tidy.to_csv('pfizer_tidy.csv', sep=",")