In [1]:
import pandas as pd
import numpy as np

In [3]:
games = pd.read_csv("tencent.csv")
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2061,1942,NES,1985.0,Shooter,Capcom,4.569217,3.033887,3.439352,1.991671,12.802935
1,9137,Â¡Shin Chan Flipa en colores!,DS,2007.0,Platform,505 Games,2.076955,1.493442,3.033887,0.394830,7.034163
2,14279,.hack: Sekai no Mukou ni + Versus,PS3,2012.0,Action,Namco Bandai Games,1.145709,1.762339,1.493442,0.408693,4.982552
3,8359,.hack//G.U. Vol.1//Rebirth,PS2,2006.0,Role-Playing,Namco Bandai Games,2.031986,1.389856,3.228043,0.394830,7.226880
4,7109,.hack//G.U. Vol.2//Reminisce,PS2,2006.0,Role-Playing,Namco Bandai Games,2.792725,2.592054,1.440483,1.493442,8.363113

In [13]:
games = games.sort_values(["Rank"]).reset_index(drop = True)
# games.drop(["index"], axis = 1, inplace = True)
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,8.725452,8.367985,6.327075,7.135349,30.555862
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,8.370051,6.275363,6.918392,4.738635,26.302441
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,7.763170,7.555676,6.332366,6.196948,27.848159
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,7.756840,7.398804,6.187843,6.085189,27.428677
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,7.422144,7.184927,7.324347,5.000000,26.931418
...,...,...,...,...,...,...,...,...,...,...,...
16647,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.394830,1.030391,0.486117,0.401761,2.712913
16648,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.394830,1.030391,0.486117,0.401761,2.712913
16649,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,1.892812,0.394830,2.340740,0.443350,5.284352
16650,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,1.892812,0.394830,2.340740,0.443350,5.284352
16651,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.394830,1.030391,0.486117,0.401761,2.712913

In [14]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16652 entries, 0 to 16651
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16652 non-null  int64
 1   Name          16652 non-null  object
 2   Platform      16652 non-null  object
 3   Year          16381 non-null  float64
 4   Genre         16652 non-null  object
 5   Publisher     16594 non-null  object
 6   NA_Sales      16652 non-null  float64
 7   EU_Sales      16652 non-null  float64
 8   JP_Sales      16652 non-null  float64
 9   Other_Sales   16652 non-null  float64
 10  Global_Sales  16652 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB