In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"cust_id": [101,102,103,104], "name": ["rick", "morty", "pickle", "jerry"]})
df

   cust_id    name
0      101    rick
1      102   morty
2      103  pickle
3      104   jerry

In [4]:
df.isin([101,102,103])

   cust_id   name
0     True  False
1     True  False
2     True  False
3    False  False

In [6]:
df.isin({"cust_id": [101, 102]})

   cust_id   name
0     True  False
1     True  False
2    False  False
3    False  False

In [7]:
df.isin(df.cust_id)

   cust_id   name
0     True  False
1     True  False
2     True  False
3     True  False

In [8]:
df.name.isin('rick')

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [11]:
df1 = pd.DataFrame({"name": ['tobey', 'peter', 'chris', 'pratt'],'chem_score':[10, 9, 8, 7], 'phy_score':[7, 8, 9, 10], 'Hindi_score':[9, 9, 9, 9]})  
df2 = pd.DataFrame({"name": ['chris', 'pratt', 'andrew', 'tom'],'chem_score':[10, 10, 10, 9], 'maths_score':[6, 6, 7, 9], 'eng_score':[9, 10, 10, 9]})

new_merged = df1.merge(df2, on = "name", how = "inner")

In [19]:
data = new_merged[new_merged["name"] == "chris"].mean(axis = 1)
list(data)

C:\Users\91798\AppData\Local\Temp\ipykernel_22068\196174304.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data = new_merged[new_merged["name"] == "chris"].mean(axis = 1)

[8.5]